name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Update code
            cd /home/ubuntu/addition-app
            git pull origin main
            
            # Backend
            cd backend
            npm install
            
            # Frontend
            cd ../frontend
            npm install
            npm run build
            
            # Fix permissions
            sudo chown -R ubuntu:www-data /home/ubuntu/addition-app/frontend/build
            sudo chmod -R 755 /home/ubuntu/addition-app/frontend/build
            
            # Restart
            cd ../backend
            pm2 restart addition-backend || pm2 start server.js --name addition-backend
